
<div class="py-5 text-center text-md-right" style="	background-image: url(assets/img/foto3.png);	background-position: right bottom;	background-size: cover;	background-repeat: repeat;	background-attachment: fixed;">
    <div class="container">
      <div class="row">
        <div class="p-5 mx-auto mx-md-0 ml-md-auto col-10 col-md-9">
          <h3 class="display-3">Enfermería Udc</h3>
          <p class="mb-3 lead">Somos un centro para la atención médica&nbsp; de los estudiantes y empleados de la Universidad de cartagena.&nbsp;</p>
        </div>
      </div>
    </div>
  </div>
