<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    type="text/css">
  <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-light bg-dark">
    <div class="container"> <a class="navbar-brand text-primary" href="#">
        <i class="fa fa-stethoscope bg-dark text-white" aria-hidden="true"></i>
        <b class="bg-dark text-white"> Universidad de Cartagena</b>
      </a> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse"
        data-target="#navbar4">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar4">
        <ul class="navbar-nav ml-auto">
          <li class="bg-dark text-white" style="	text-shadow: 0px 0px 0px white;"> <a class="nav-link"
              href="#">Inicio</a> </li>
          <li class="nav-item bg-dark text-success" style="	text-shadow: 0px 0px 0px white;"> <a class="nav-link"
              href="#">Quienes Somos</a> </li>
        </ul> <a class="btn navbar-btn ml-md-2 btn-dark text-white border-light">Iniciar Sesión</a>
      </div>
    </div>
  </nav>
  <div *ngIf="authS.afAuth.user | async as user; else showLogin">
    <h1>Tu eres... {{ user.email }}!</h1>
    <button (click)="logoutGoogle()">Logout</button>
  </div>
  <!--<ng-template #showLogin>
    <p>Please login.</p>
    <button (click)="onLoginGoogle()">Login with Google</button>
  </ng-template>-->
  <div class="py-5 text-center">
    <!-- style="background-image: url(&quot;img/foto3.png&quot;); background-size: cover; background-position: left top; background-repeat: repeat;" -->
    <div class="container">
      <div class="row">
        <div class="mx-auto col-md-6 col-10 bg-white p-5">
          <h1 class="mb-4">Iniciar Sesión</h1>
          <form>
            <div class="form-group"> <input type="email" class="form-control" placeholder="Enter email" id="form9">
            </div>
            <div class="form-group mb-3"> <input type="password" class="form-control" placeholder="Password"
                id="form10"> <small class="form-text text-muted text-right">
                <a href="#" class="text-body"> Recordar Contraseña</a>
              </small> </div> <button type="submit" class="btn btn-warning text-light">Iniciar Sesión</button>
            <br>
            <br>
          </form>
          <div>
            <button class="btn btn btn-social btn-google text-light" (click)="loginGoogle()">
              <span class="fa fa-google"> Google</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center"> <i class="d-block fa fa-stop-circle mb-3 text-muted fa-3x"></i>
          <p>Avenida del Consulado #Calle 30 No. 48 152 Cartagena,&nbsp;<br>&nbsp;Provincia de Cartagena, Bolívar</p>
          <p> <a>+Telefono: 6756900</a></p>
          <p class="mb-0"> <a>infoEnfermeria@unicartagena.edu.co</a></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 d-flex align-items-center justify-content-center my-3"> <a href="#">
            <i class="d-block fa fa-facebook-official text-muted fa-lg mr-2"></i>
          </a> <a href="#">
            <i class="d-block fa fa-instagram text-muted fa-lg mx-2"></i>
          </a> <a href="#">
            <i class="d-block fa fa-google-plus-official text-muted fa-lg mx-2"></i>
          </a> <a href="#">
            <i class="d-block fa fa-pinterest-p text-muted fa-lg mx-2"></i>
          </a> <a href="#">
            <i class="d-block fa fa-reddit text-muted fa-lg mx-2"></i>
          </a> <a href="#">
            <i class="d-block fa fa-twitter text-muted fa-lg ml-2"></i>
          </a> </div>
      </div>
    </div>
  </div>

  <!--<pingendo onclick="window.open('https://pingendo.com/', '_blank')" style="cursor:pointer;position: fixed;bottom: 20px;right:20px;padding:4px;background-color: #00b0eb;border-radius: 8px; width:220px;display:flex;flex-direction:row;align-items:center;justify-content:center;font-size:14px;color:white">Made with Pingendo Free&nbsp;&nbsp;<img src="https://pingendo.com/site-assets/Pingendo_logo_big.png" class="d-block" alt="Pingendo logo" height="16"></pingendo>-->
</body>

</html>
