<div class="modal-header">
    <h4 class="modal-title">{{createMode ? 'Create Todo' : 'Registro Médico'}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="todoForm" (ngSubmit)="saveTodo()">
        <div class="form-row">
        <div class="form-group col-md-4" style="text-align: left;">
            <label for="Nombre">Nombre</label>
              <input type="text" id="Nombre" placeholder="Nombre" class="form-control" formControlName="Nombre" disabled />
          </div>
              <div class="form-group col-md-4" style="text-align: left;">
              <label for="Apellido">Apellido</label>
              <input type="text" id="Apellido" placeholder="Apellido" class="form-control" formControlName="Apellido" disabled />
          </div>
          <div class="form-group col-md-4" style="text-align: left;">
              <label for="Teléfono">Teléfono</label>
              <input type="number" class="form-control" id="Teléfono" placeholder="Teléfono" name="Teléfono"
                formControlName="Teléfono" disabled>
            </div>
        </div>
          <div class="form-row">
            <div class="form-group col-md-4" style="text-align: left;">
              <label for="Identificación">Identificación</label>
              <input type="number" class="form-control" id="Identificación" placeholder="Identificación"
                name="Identificación" formControlName="Identificación" disabled>
            </div>
            <div class="form-group col-md-4" style="text-align: left;">
                <label for="Sexo">Sexo</label>
                <input type="number" class="form-control" id="Sexo" placeholder="Sexo"
                name="Sexo" formControlName="Sexo" disabled>
              </div>
              <div class="form-group col-md-4" style="text-align: left;">
                <label for="inputSangre">Tipo de Sangre</label>
                <input type="text" class="form-control" id="inputSangre" placeholder="Tipo Sangre"
                name="inputSangre" formControlName="inputSangre" disabled>
              </div>
          </div>
          <div class="form-row">
              <div class="form-group col-md-4" style="text-align: left;">
                <label for="Sede">Sede</label>
                <input type="text" class="form-control" id="Sede" placeholder="Sede"
                  name="Sede" formControlName="Sede" disabled>
              </div>
              <div class="form-group col-md-4" style="text-align: left;">
                  <label for="inputFecha">Fecha Nacimiento</label>
                  <input type="text" class="form-control" id="inputFecha" placeholder="Fecha Nacimiento"
                  name="inputFecha" formControlName="inputFecha" disabled>
                </div>
                <div class="form-group col-md-4" style="text-align: left;">
                  <label for="inputCodigo">Codigo Academico</label>
                  <input type="number" class="form-control" id="inputCodigo" placeholder="Codigo Academico"
                  name="inputCodigo" formControlName="inputCodigo" disabled>
                </div>
            </div>
      <div class="form-group">
        <label for="Alergias">Alergias*</label>
        <input type="text" id="Alergias" placeholder="Alergias" class="form-control" formControlName="Alergias" disabled />
      </div>
      <div class="form-group">
        <label for="Observaciones">Observaciones*</label>
        <textarea  id="Observaciones" placeholder="Observaciones" class="form-control" formControlName="Observaciones" disabled></textarea>
        
      </div>
      <div class="form-group">
        <label for="Diagnostico">Diagnostico*</label>
        <textarea  id="Diagnostico" placeholder="Diagnostico" class="form-control" formControlName="Diagnostico" disabled></textarea>
        <span style="color:Red;" *ngIf="todoForm.controls['Diagnostico'].touched && todoForm.controls['Diagnostico'].errors?.required">Description
          is required.</span>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
  </div>
