
  <!--<div *ngIf="authS.afAuth.user | async as user; else showLogin">
    <h1>Tu eres... {{ user.email }}!</h1>
    <button (click)="logout()">Logout</button>
  </div>
  <ng-template #showLogin>
    <p>Please login.</p>
    <button (click)="onLoginGoogle()">Login with Google</button>
  </ng-template>-->
  <div class="py-5 text-center">
    <!-- style="background-image: url(&quot;img/foto3.png&quot;); background-size: cover; background-position: left top; background-repeat: repeat;" -->
    <div class="container">
      <div class="row">
        <div class="mx-auto col-md-6 col-10 bg-white p-5">
          <h1 class="mb-4">Iniciar Sesión</h1>
          <!--<form>
            <div class="form-group"> <input type="email" class="form-control" placeholder="Enter email" id="form9">
            </div>
            <div class="form-group mb-3"> <input type="password" class="form-control" placeholder="Password"
                id="form10"> <small class="form-text text-muted text-right">
                <a href="#" class="text-body"> Recordar Contraseña</a>
              </small> </div> <button type="submit" class="btn btn-warning text-light">Iniciar Sesión</button>
            <br>
            <br>
          </form>-->
          <div>
            <button class="btn btn btn-social btn-google text-light" (click)="login()" >
              <span class="fa fa-google" >Sign in with Google</span>
            </button>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <div class="py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center"> <i class="d-block fa fa-stop-circle mb-3 text-muted fa-3x"></i>
          <p>Avenida del Consulado #Calle 30 No. 48 152 Cartagena,&nbsp;<br>&nbsp;Provincia de Cartagena, Bolívar</p>
          <p> <a>+Telefono: 6756900</a></p>
          <p class="mb-0"> <a>infoEnfermeria@unicartagena.edu.co</a></p>
        </div>
      </div>
    </div>
  </div>
