<nav class="navbar navbar-expand-md navbar-light bg-dark">
  <div class="container"> <a class="navbar-brand text-primary" href="#">
      <i class="fa fa-stethoscope bg-dark text-white" aria-hidden="true"></i>
      <b class="bg-dark text-warning" > Universidad de Cartagena</b>
    </a> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse"
      data-target="#navbar4">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar4">
      <div class="collapse navbar-collapse" *ngIf="(authS.user | async) ; else showNothing">
        <ul class="nav navbar-nav ml-auto ">
          <li><a routerLink="/home" class="bg-dark text-warning nav-link" >Inicio</a></li>
          <li class="nav-item dropdown">
              <a class="dropdown-toggle bg-dark text-warning nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"aria-expanded="false">
                Registros Médicos</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" routerLink="/crearRegistro">Crear Registro Médico</a>
                <a class="dropdown-item" routerLink="/consultarRegistro">Consultar Registros Médicos</a>
              </div>
          </li>
          <li class="nav-item dropdown" *ngIf="(personal.ocupacion == 'Médico')">
              <a class="dropdown-toggle bg-dark text-warning nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"aria-expanded="false">
                Historiales Médicos</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" routerLink="/crearHistorial">Crear Historial Médico</a>
                <a class="dropdown-item" routerLink="/consultarHistorial">Consultar Historial Médico</a>
                <a class="dropdown-item" routerLink="/RegistroPendiente">Ver Registros Pendientes</a>
              </div>
          </li>
        </ul>
        
      </div>
      <ng-template #showNothing>
        <ul class="nav navbar-nav ml-auto ">
        </ul>
      </ng-template>

      <ul class="nav navbar-nav navbar-right">
        <div *ngIf="authS.afAuth.user | async as user; else showLogin">
          <a routerLink="/" class="btn navbar-btn ml-md-2 btn-dark text-warning border-warning" id="btn-google"
            (click)="logout()">Cerrar Sesión</a>
        </div>
        <ng-template #showLogin>
          <div>
              <a routerLink="/login" class="btn navbar-btn ml-md-2 btn-dark text-warning border-warning" id="btn-google">Iniciar
                Sesión</a>
          </div>
        </ng-template>
      </ul>

    </div>
  </div>
</nav>

<router-outlet></router-outlet>

