<nav class="navbar navbar-expand-md navbar-light bg-dark">
  <div class="container"> <a class="navbar-brand text-primary" href="#">
      <i class="fa fa-stethoscope bg-dark text-white" aria-hidden="true"></i>
      <b class="bg-dark text-warning"> Universidad de Cartagena</b>
    </a> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse"
      data-target="#navbar4">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar4">      
      <div *ngIf="(authS.user | async) ; else showNothing">
        <ul class="nav navbar-nav ml-auto ">
          <li><a routerLink="/crearRegistro" class="bg-dark text-warning  border-warning nav-link"  background = '#F7D358' >Crear Registro Medico</a></li>
          <li><a routerLink="/" class="bg-dark text-warning  border-warning nav-link" >Crear Historial Medico</a></li>
          <li><a routerLink="/" class="bg-dark text-warning nav-link" >Consultar Historial Medico</a></li>
          <li><a routerLink="/" class="bg-dark text-warning nav-link">Registros Pendientes</a></li>
        </ul>
        
      </div>
      <ng-template #showNothing>
          <ul class="nav navbar-nav ml-auto ">
              <!--<li class="bg-dark text-white" style="	text-shadow: 0px 0px 0px white;"> <a class="nav-link" href="#" id="Inicio">Inicio</a> </li>
                <li class="bg-dark text-white" style="	text-shadow: 0px 0px 0px white;"> <a class="nav-link" href="#" id="Quienes_somos">Quienes somos</a> </li>-->
          </ul>
      </ng-template>
      
      <ul class="nav navbar-nav navbar-right">
        <div *ngIf="authS.afAuth.user | async as user; else showLogin">
          <a routerLink="/" class="btn navbar-btn ml-md-2 btn-dark text-warning border-warning" id="btn-google"
            (click)="logout()">Cerrar Sesión</a>
        </div>
        <ng-template #showLogin>
          <a routerLink="/login" class="btn navbar-btn ml-md-2 btn-dark text-warning border-warning" id="btn-google">Iniciar Sesión</a>
        </ng-template>
      </ul>
      
    </div>
  </div>
</nav>


<router-outlet></router-outlet>


<!--<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyDI-C2k_nfmeoAQQHTsGqA4Yhx3LuGCqPs",
    authDomain: "isoftsalud-1b9da.firebaseapp.com",
    databaseURL: "https://isoftsalud-1b9da.firebaseio.com",
    projectId: "isoftsalud-1b9da",
    storageBucket: "",
    messagingSenderId: "266791937924",
    appId: "1:266791937924:web:a9b27e5b42f28578"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
</script> -->